:root {
    /* Font-size */
    --fs-mini: .75rem;
    --fs-small: 1rem;
    --fs-medium: 1.5rem;
    --fs-big: 2rem;

    /* Font-weight */
    --fw-lighter: 400;
    --fw-darker: 500;

    /* Color Scheme */
    --darkBlue: #021DA4;
    --grey: #4b4a4a;
    --fadedGrey: #4b4a4a2f;
    --black: #282828;
    --lighterBlue: #285CD0;
    --white: #FDFDFD;
    --red: #FB3F3F;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

    min-height: 100vh;
}

.introduction,
.convertForm,
.convertForm__inputs,
.historicalRatesForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: var(--white);
    text-align: center;
    
    height: 200px;
    width: 100%;
}

.introduction__title {
    font-weight: var(--fw-darker);
    font-size: var(--fs-big);
}
.introduction__subtitle {
    font-weight: var(--fw-lighter);
    font-size: var(--fs-small);
}

.convertForm,
.historicalRatesForm {
    margin: 0 auto;
    padding: 1rem 0;
    width: 90%;
}

.convertForm {
    box-shadow: 0px 0px 10px var(--grey);
}

.convertForm__inputs,
.conversionResult {
    margin: 0 auto;
    width: 90%;
}

.convertForm
input,
select,
button {
    border-radius: 5px;
}

.convertForm__inputs {
    padding: 1rem 0;
}

label,
.convertForm__selectedCurrency {
    font-size: var(--fs-small);
    font-weight: var(--fw-darker);
}

input,
select {
    border: 1px solid var(--fadedGrey);
    font-size: var(--fs-small);
    padding: .5rem;
}

.convertForm__button {
    background-color: var(--lighterBlue);
    border: 1px solid var(--lighterBlue);
    color: var(--white);

    font-size: var(--fs-small);
    font-weight: bold;

    padding: .5rem;
}

.conversionResult p {
    color: var(--grey);
}

.conversionResult h2 {
    font-weight: var(--fw-darker);
}

@media screen and (min-width: 481px) {
    .convertForm {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }  

    .convertForm__buttonContainer {
        grid-column: 3;
    }

    .conversionResult {
        grid-row: 2;
        grid-column: 1;
    }
}

@media  screen and (min-width: 1024px) {
    :root {
        --fs-medium: 1.75rem;
        --fs-big: 2.25rem;
    }
}

@media  screen and (min-width: 1200px) {
    :root {
        --fs-medium: 2rem;
        --fs-big: 2.5rem;
    }
}