:root {
    /* Font-size */
    --fs-mini: .75rem;
    --fs-small: 1rem;
    --fs-medium: 1.5rem;
    --fs-big: 2rem;

    /* Font-weight */
    --fw-lighter: 400;
    --fw-darker: 500;

}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.introduction {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    height: 200px;
    width: 100%;
}

.introduction__title {
    font-weight: var(--fw-darker);
    font-size: var(--fs-big);
}

.introduction__subtitle {
    font-weight: var(--fw-lighter);
    font-size: var(--fs-small);
}